In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ranjith\anaconda3\envs\myenv\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ranjith\anaconda3\envs\myenv\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ranjith\anaconda3\envs\myenv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ranjith\anaconda3\envs\myenv\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\ranjith\anaconda3\envs\myenv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [21]:
data_set = pd.read_csv('Fifa 23 Players Data.csv')

In [14]:
data_set.shape

(18539, 89)

In [15]:
data_set.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,91,88,91,67,66,67,62,53,62,22
1,K. Benzema,Karim Benzema,91,91,64000000,"CF,ST",CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34,...,89,84,89,67,67,67,63,58,63,21
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,86,83,86,67,69,67,64,63,64,22
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,"CM,CAM",CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31,...,91,91,91,82,82,82,78,72,78,24
4,K. Mbappé,Kylian Mbappé,91,95,190500000,"ST,LW",ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,23,...,92,84,92,70,66,70,66,57,66,21

In [16]:
data_set.tail()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
18534,D. Collins,Darren Collins,47,56,110000,"ST,RM",CAM,Republic of Ireland,https://cdn.sofifa.net/players/243/725/23_60.png,21,...,50,44,50,41,38,41,40,36,40,15
18535,Yang Dejiang,Dejiang Yang,47,57,90000,CDM,CDM,China PR,https://cdn.sofifa.net/players/261/933/23_60.png,17,...,45,45,45,47,48,47,49,49,49,15
18536,L. Mullan,Liam Mullan,47,67,130000,CM,RM,Northern Ireland,https://cdn.sofifa.net/players/267/823/23_60.png,18,...,52,49,52,46,44,46,46,42,46,17
18537,D. McCallion,Daithí McCallion,47,61,100000,CB,CB,Republic of Ireland,https://cdn.sofifa.net/players/267/824/23_60.png,17,...,33,33,33,44,42,44,47,49,47,15
18538,N. Rabha,Nabin Rabha,47,50,60000,LB,LB,India,https://cdn.sofifa.net/players/261/424/23_60.png,25,...,44,40,44,46,43,46,47,47,47,19

In [17]:
data_set.columns

Index(['Known As', 'Full Name', 'Overall', 'Potential', 'Value(in Euro)',
       'Positions Played', 'Best Position', 'Nationality', 'Image Link', 'Age',
       'Height(in cm)', 'Weight(in kg)', 'TotalStats', 'BaseStats',
       'Club Name', 'Wage(in Euro)', 'Release Clause', 'Club Position',
       'Contract Until', 'Club Jersey Number', 'Joined On', 'On Loan',
       'Preferred Foot', 'Weak Foot Rating', 'Skill Moves',
       'International Reputation', 'National Team Name',
       'National Team Image Link', 'National Team Position',
       'National Team Jersey Number', 'Attacking Work Rate',
       'Defensive Work Rate', 'Pace Total', 'Shooting Total', 'Passing Total',
       'Dribbling Total', 'Defending Total', 'Physicality Total', 'Crossing',
       'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys',
       'Dribbling', 'Curve', 'Freekick Accuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'Standing Tackle', 'Sliding Tackle',
       'Goalkeeper Diving', 'Goalkeeper Handling', ' GoalkeeperKicking',
       'Goalkeeper Positioning', 'Goalkeeper Reflexes', 'ST Rating',
       'LW Rating', 'LF Rating', 'CF Rating', 'RF Rating', 'RW Rating',
       'CAM Rating', 'LM Rating', 'CM Rating', 'RM Rating', 'LWB Rating',
       'CDM Rating', 'RWB Rating', 'LB Rating', 'CB Rating', 'RB Rating',
       'GK Rating'],
      dtype='object')

# DataSet To DataFrame

In [18]:
data = pd.DataFrame(data_set)

In [19]:
data

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,91,88,91,67,66,67,62,53,62,22
1,K. Benzema,Karim Benzema,91,91,64000000,"CF,ST",CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34,...,89,84,89,67,67,67,63,58,63,21
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,86,83,86,67,69,67,64,63,64,22
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,"CM,CAM",CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31,...,91,91,91,82,82,82,78,72,78,24
4,K. Mbappé,Kylian Mbappé,91,95,190500000,"ST,LW",ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,23,...,92,84,92,70,66,70,66,57,66,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,D. Collins,Darren Collins,47,56,110000,"ST,RM",CAM,Republic of Ireland,https://cdn.sofifa.net/players/243/725/23_60.png,21,...,50,44,50,41,38,41,40,36,40,15
18535,Yang Dejiang,Dejiang Yang,47,57,90000,CDM,CDM,China PR,https://cdn.sofifa.net/players/261/933/23_60.png,17,...,45,45,45,47,48,47,49,49,49,15
18536,L. Mullan,Liam Mullan,47,67,130000,CM,RM,Northern Ireland,https://cdn.sofifa.net/players/267/823/23_60.png,18,...,52,49,52,46,44,46,46,42,46,17
18537,D. McCallion,Daithí McCallion,47,61,100000,CB,CB,Republic of Ireland,https://cdn.sofifa.net/players/267/824/23_60.png,17,...,33,33,33,44,42,44,47,49,47,15
18538,N. Rabha,Nabin Rabha,47,50,60000,LB,LB,India,https://cdn.sofifa.net/players/261/424/23_60.png,25,...,44,40,44,46,43,46,47,47,47,19

In [10]:
data.dtypes

Known As          object
Full Name         object
Overall            int64
Potential          int64
Value(in Euro)     int64
                   ...
RWB Rating         int64
LB Rating          int64
CB Rating          int64
RB Rating          int64
GK Rating          int64
Length: 89, dtype: object

In [11]:
data.describe()

,Overall,Potential,Value(in Euro),Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Wage(in Euro),Release Clause,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
count,18539.000000,18539.000000,1.853900e+04,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,1.853900e+04,...,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000
mean,65.852042,71.016668,2.875461e+06,25.240412,181.550839,75.173904,1602.114569,357.946221,8824.537462,5.081688e+06,...,58.451319,57.374076,58.451319,56.281569,55.928583,56.281569,55.650251,54.528184,55.650251,23.257134
std,6.788353,6.192866,7.635129e+06,4.718163,6.858097,7.013593,273.160237,39.628259,19460.531154,1.467203e+07,...,13.987122,13.171194,13.987122,13.903836,13.872190,13.903836,14.159466,14.743929,14.159466,15.108925
min,47.000000,48.000000,0.000000e+00,16.000000,155.000000,49.000000,759.000000,224.000000,0.000000,0.000000e+00,...,18.000000,18.000000,18.000000,17.000000,19.000000,17.000000,17.000000,18.000000,17.000000,10.000000
25%,62.000000,67.000000,4.750000e+05,21.000000,177.000000,70.000000,1470.000000,331.000000,1000.000000,6.650000e+05,...,54.000000,53.000000,54.000000,51.000000,48.000000,51.000000,49.000000,45.000000,49.000000,17.000000
50%,66.000000,71.000000,1.000000e+06,25.000000,182.000000,75.000000,1640.000000,358.000000,3000.000000,1.500000e+06,...,62.000000,60.000000,62.000000,59.000000,59.000000,59.000000,59.000000,58.000000,59.000000,18.000000
75%,70.000000,75.000000,2.000000e+06,29.000000,186.000000,80.000000,1786.000000,385.000000,8000.000000,3.400000e+06,...,67.000000,66.000000,67.000000,66.000000,66.000000,66.000000,65.000000,66.000000,65.000000,20.000000
max,91.000000,95.000000,1.905000e+08,44.000000,206.000000,105.000000,2312.000000,502.000000,450000.000000,3.667000e+08,...,92.000000,91.000000,92.000000,88.000000,89.000000,88.000000,87.000000,90.000000,87.000000,90.000000

In [15]:
data

0         54000000
1         64000000
2         84000000
3        107500000
4        190500000
           ...
18534       110000
18535        90000
18536       130000
18537       100000
18538        60000
Name: Value(in Euro), Length: 18539, dtype: int64

In [20]:
data['Nationality'].unique()

array(['Argentina', 'France', 'Poland', 'Belgium', 'Egypt', 'Germany',
       'Portugal', 'Netherlands', 'England', 'Brazil', 'Korea Republic',
       'Slovenia', 'Senegal', 'Norway', 'Italy', 'Costa Rica', 'Croatia',
       'Spain', 'Scotland', 'Austria', 'Algeria', 'Slovakia', 'Serbia',
       'Gabon', 'Czech Republic', 'Hungary', 'Switzerland', 'Uruguay',
       'Ghana', 'Morocco', 'Turkey', 'Montenegro', 'Cameroon',
       'Bosnia and Herzegovina', 'Colombia', 'Canada', "Côte d'Ivoire",
       'Nigeria', 'Denmark', 'Finland', 'Mexico', 'Ukraine',
       'United States', 'Sweden', 'Central African Republic', 'Mali',
       'Iran', 'Burkina Faso', 'Armenia', 'Wales', 'Greece', 'Guinea',
       'Japan', 'Jamaica', 'Kosovo', 'Chile', 'Ecuador', 'Libya',
       'Russia', 'Tunisia', 'Northern Ireland', 'Mozambique', 'Peru',
       'Togo', 'Romania', 'Congo DR', 'Angola', 'Albania', 'Georgia',
       'Zimbabwe', 'North Macedonia', 'Venezuela', 'Australia',
       'Paraguay', 'Republic of Ireland', 'Gambia', 'Zambia',
       'Saudi Arabia', 'Qatar', 'New Zealand', 'Iceland', 'Suriname',
       'Trinidad and Tobago', 'Israel', 'Cape Verde Islands', 'Honduras',
       'Malta', 'Liberia', 'Uzbekistan', 'South Africa',
       'Dominican Republic', 'Philippines', 'Congo', 'Luxembourg',
       'Guinea Bissau', 'Comoros', 'Sierra Leone', 'Benin', 'China PR',
       'Kenya', 'Madagascar', 'Equatorial Guinea', 'Panama', 'Curacao',
       'Bolivia', 'Uganda', 'Cyprus', 'Burundi', 'United Arab Emirates',
       'Tanzania', 'Namibia', 'Moldova', 'Saint Kitts and Nevis', 'Haiti',
       'Jordan', 'Bulgaria', 'Lithuania', 'Fiji', 'Grenada', 'Cuba',
       'Korea DPR', 'Iraq', 'Liechtenstein', 'Azerbaijan',
       'Chinese Taipei', 'Montserrat', 'Antigua and Barbuda',
       'Kazakhstan', 'El Salvador', 'Estonia', 'Syria', 'Mauritania',
       'Hong Kong', 'Bermuda', 'São Tomé e Príncipe', 'Latvia',
       'Saint Lucia', 'Palestine', 'Puerto Rico', 'Sudan', 'Vietnam',
       'Ethiopia', 'Mauritius', 'India', 'Faroe Islands', 'Chad',
       'Papua New Guinea', 'Belarus', 'Afghanistan', 'Guam', 'Guatemala',
       'Lebanon', 'Guyana', 'Thailand', 'Andorra', 'Gibraltar',
       'Indonesia', 'South Sudan', 'Singapore', 'Barbados'], dtype=object)

In [47]:
data.loc[data["Nationality"]== "Argentina"]["Known As"]

0            L. Messi
49          P. Dybala
59        L. Martínez
77           M. Acuña
93           A. Gómez
             ...
15974       G. Torres
16013      E. Herrera
16460    R. Ríos Novo
16904     S. Visentin
17328     V. Demateis
Name: Known As, Length: 937, dtype: object

In [34]:
data["Value(in Euro)"].describe()

count    1.853900e+04
mean     2.875461e+06
std      7.635129e+06
min      0.000000e+00
25%      4.750000e+05
50%      1.000000e+06
75%      2.000000e+06
max      1.905000e+08
Name: Value(in Euro), dtype: float64

In [35]:
data["Age"].describe()

count    18539.000000
mean        25.240412
std          4.718163
min         16.000000
25%         21.000000
50%         25.000000
75%         29.000000
max         44.000000
Name: Age, dtype: float64

In [37]:
data.groupby('Age').describe()

    Overall                                                      Potential  \
      count       mean       std   min    25%   50%    75%   max     count
Age
16     31.0  54.548387  4.113706  48.0  51.50  54.0  57.00  64.0      31.0
17    249.0  56.381526  4.880324  47.0  53.00  55.0  60.00  79.0     249.0
18    626.0  58.070288  5.029975  47.0  54.00  58.0  62.00  75.0     626.0
19   1039.0  59.842156  5.676755  47.0  56.00  60.0  63.00  85.0    1039.0
20   1260.0  61.227778  5.617093  48.0  58.00  61.0  65.00  82.0    1260.0
21   1440.0  62.642361  6.081038  47.0  59.00  63.0  66.00  88.0    1440.0
22   1602.0  64.563046  6.363158  48.0  61.00  64.0  68.00  85.0    1602.0
23   1356.0  65.665192  6.151950  48.0  62.00  65.0  69.00  91.0    1356.0
24   1333.0  66.839460  6.090018  48.0  63.00  66.0  70.00  86.0    1333.0
25   1372.0  67.408892  6.015153  47.0  64.00  67.0  71.00  88.0    1372.0
26   1282.0  68.069423  5.812771  50.0  64.00  67.0  72.00  87.0    1282.0
27   1117.0  68.306177  5.786779  50.0  64.00  68.0  72.00  89.0    1117.0
28   1072.0  68.350746  5.714996  49.0  65.00  68.0  72.00  89.0    1072.0
29    969.0  68.783282  5.941736  51.0  65.00  68.0  72.00  89.0     969.0
30    970.0  69.141237  5.772935  51.0  65.00  69.0  73.00  90.0     970.0
31    739.0  69.013532  5.571397  52.0  65.00  68.0  72.00  91.0     739.0
32    649.0  68.625578  5.506732  49.0  65.00  68.0  72.00  88.0     649.0
33    490.0  68.651020  5.640441  52.0  65.00  68.0  72.00  91.0     490.0
34    341.0  69.621701  5.803700  55.0  65.00  69.0  73.00  91.0     341.0
35    235.0  69.919149  5.799154  57.0  66.00  69.0  73.00  91.0     235.0
36    155.0  68.406452  6.058906  52.0  64.00  68.0  72.00  90.0     155.0
37     97.0  68.556701  6.239940  48.0  65.00  68.0  72.00  90.0      97.0
38     48.0  69.000000  5.753815  56.0  65.00  69.0  74.00  80.0      48.0
39     35.0  70.800000  5.109392  59.0  68.00  72.0  74.00  81.0      35.0
40     19.0  70.157895  7.259195  61.0  64.00  70.0  75.50  83.0      19.0
41     10.0  67.500000  4.927248  59.0  64.25  68.5  70.75  74.0      10.0
42      2.0  67.000000  7.071068  62.0  64.50  67.0  69.50  72.0       2.0
44      1.0  79.000000       NaN  79.0  79.00  79.0  79.00  79.0       1.0

                ... RB Rating       GK Rating                              \
          mean  ...       75%   max     count       mean        std   min
Age             ...
16   73.806452  ...     53.00  62.0      31.0  22.516129  13.684227  13.0
17   74.373494  ...     54.00  74.0     249.0  20.449799  11.834481  13.0
18   73.984026  ...     57.75  72.0     626.0  21.923323  13.325484  13.0
19   73.602502  ...     59.00  81.0    1039.0  20.810395  12.140699  12.0
20   72.870635  ...     61.00  80.0    1260.0  21.897619  13.555985  13.0
21   72.440278  ...     62.00  84.0    1440.0  22.108333  13.795717  12.0
22   72.404494  ...     64.00  83.0    1602.0  21.971910  13.663890  13.0
23   72.382743  ...     65.00  86.0    1356.0  21.465339  12.934503  13.0
24   71.926482  ...     67.00  85.0    1333.0  22.092273  13.786926  13.0
25   71.019679  ...     67.00  85.0    1372.0  23.414723  15.149318  12.0
26   70.058502  ...     67.00  84.0    1282.0  23.112324  14.730147  13.0
27   69.241719  ...     68.00  86.0    1117.0  22.966876  14.403796  10.0
28   68.769590  ...     67.00  87.0    1072.0  23.955224  15.615294  13.0
29   68.949432  ...     67.00  84.0     969.0  24.535604  16.329036  11.0
30   69.162887  ...     68.00  86.0     970.0  23.676289  15.131087  13.0
31   69.013532  ...     67.00  87.0     739.0  25.051421  16.766047  12.0
32   68.625578  ...     67.00  85.0     649.0  24.984592  16.341922  14.0
33   68.651020  ...     66.00  84.0     490.0  26.742857  18.354808  13.0
34   69.621701  ...     68.00  83.0     341.0  27.903226  19.203998  14.0
35   69.919149  ...     67.00  81.0     235.0  29.604255  21.389769  12.0
36   68.406452  ...     65.00  83.0     155.0  30.051613  21.237615  11.0
37   68.556701  ...     62.00  80.0      97.0  34.154639  23.150027  14.0
38   69.000000  ...     66.00  75.0      48.0  37.187500  23.967759  16.0
39   70.800000  ...     59.00  78.0      35.0  39.257143  26.669373  15.0
40   70.157895  ...     54.50  79.0      19.0  47.157895  24.540812  16.0
41   67.500000  ...     48.75  61.0      10.0  47.300000  23.990971  17.0
42   67.000000  ...     26.25  27.0       2.0  67.000000   7.071068  62.0
44   79.000000  ...     29.00  29.0       1.0  79.000000        NaN  79.0


      25%   50%    75%   max
Age
16   16.0  17.0  18.00  55.0
17   16.0  17.0  18.00  63.0
18   16.0  17.0  19.00  67.0
19   16.0  17.0  18.00  73.0
20   16.0  17.0  19.00  73.0
21   16.0  18.0  19.00  79.0
22   17.0  18.0  19.00  82.0
23   17.0  18.0  19.00  89.0
24   17.0  18.0  19.00  84.0
25   17.0  18.0  20.00  85.0
26   17.0  19.0  20.00  87.0
27   18.0  19.0  20.00  83.0
28   18.0  19.0  20.00  90.0
29   18.0  19.0  20.00  90.0
30   18.0  19.0  20.00  90.0
31   18.0  19.0  21.00  87.0
32   18.0  19.0  21.00  86.0
33   18.0  19.0  21.00  85.0
34   18.0  20.0  21.00  82.0
35   18.0  20.0  22.00  88.0
36   18.0  20.0  22.00  90.0
37   18.0  20.0  63.00  84.0
38   19.0  20.0  64.25  76.0
39   18.0  20.0  71.00  79.0
40   21.0  62.0  65.00  79.0
41   20.5  60.5  66.50  71.0
42   64.5  67.0  69.50  72.0
44   79.0  79.0  79.00  79.0

[28 rows x 560 columns]

In [40]:
data.groupby('Age').describe().unstack()

                  Age
Overall    count  16       31.0
                  17      249.0
                  18      626.0
                  19     1039.0
                  20     1260.0
                          ...
GK Rating  max    39       79.0
                  40       79.0
                  41       71.0
                  42       72.0
                  44       79.0
Length: 15680, dtype: float64

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18539 entries, 0 to 18538
Data columns (total 89 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Known As                     18539 non-null  object
 1   Full Name                    18539 non-null  object
 2   Overall                      18539 non-null  int64
 3   Potential                    18539 non-null  int64
 4   Value(in Euro)               18539 non-null  int64
 5   Positions Played             18539 non-null  object
 6   Best Position                18539 non-null  object
 7   Nationality                  18539 non-null  object
 8   Image Link                   18539 non-null  object
 9   Age                          18539 non-null  int64
 10  Height(in cm)                18539 non-null  int64
 11  Weight(in kg)                18539 non-null  int64
 12  TotalStats                   18539 non-null  int64
 13  BaseStats                    18539 non-null  int64
 14  Club Name                    18539 non-null  object
 15  Wage(in Euro)                18539 non-null  int64
 16  Release Clause               18539 non-null  int64
 17  Club Position                18539 non-null  object
 18  Contract Until               18539 non-null  object
 19  Club Jersey Number           18539 non-null  object
 20  Joined On                    18539 non-null  int64
 21  On Loan                      18539 non-null  object
 22  Preferred Foot               18539 non-null  object
 23  Weak Foot Rating             18539 non-null  int64
 24  Skill Moves                  18539 non-null  int64
 25  International Reputation     18539 non-null  int64
 26  National Team Name           18539 non-null  object
 27  National Team Image Link     18539 non-null  object
 28  National Team Position       18539 non-null  object
 29  National Team Jersey Number  18539 non-null  object
 30  Attacking Work Rate          18539 non-null  object
 31  Defensive Work Rate          18539 non-null  object
 32  Pace Total                   18539 non-null  int64
 33  Shooting Total               18539 non-null  int64
 34  Passing Total                18539 non-null  int64
 35  Dribbling Total              18539 non-null  int64
 36  Defending Total              18539 non-null  int64
 37  Physicality Total            18539 non-null  int64
 38  Crossing                     18539 non-null  int64
 39  Finishing                    18539 non-null  int64
 40  Heading Accuracy             18539 non-null  int64
 41  Short Passing                18539 non-null  int64
 42  Volleys                      18539 non-null  int64
 43  Dribbling                    18539 non-null  int64
 44  Curve                        18539 non-null  int64
 45  Freekick Accuracy            18539 non-null  int64
 46  LongPassing                  18539 non-null  int64
 47  BallControl                  18539 non-null  int64
 48  Acceleration                 18539 non-null  int64
 49  Sprint Speed                 18539 non-null  int64
 50  Agility                      18539 non-null  int64
 51  Reactions                    18539 non-null  int64
 52  Balance                      18539 non-null  int64
 53  Shot Power                   18539 non-null  int64
 54  Jumping                      18539 non-null  int64
 55  Stamina                      18539 non-null  int64
 56  Strength                     18539 non-null  int64
 57  Long Shots                   18539 non-null  int64
 58  Aggression                   18539 non-null  int64
 59  Interceptions                18539 non-null  int64
 60  Positioning                  18539 non-null  int64
 61  Vision                       18539 non-null  int64
 62  Penalties                    18539 non-null  int64
 63  Composure                    18539 non-null  int64
 64  Marking                      18539 non-null  int64
 65  Standing Tackle              18539 non-null  int64
 66  Sliding Tackle               18539 non-null  int64
 67  Goalkeeper Diving            18539 non-null  int64
 68  Goalkeeper Handling          18539 non-null  int64
 69   GoalkeeperKicking           18539 non-null  int64
 70  Goalkeeper Positioning       18539 non-null  int64
 71  Goalkeeper Reflexes          18539 non-null  int64
 72  ST Rating                    18539 non-null  int64
 73  LW Rating                    18539 non-null  int64
 74  LF Rating                    18539 non-null  int64
 75  CF Rating                    18539 non-null  int64
 76  RF Rating                    18539 non-null  int64
 77  RW Rating                    18539 non-null  int64
 78  CAM Rating                   18539 non-null  int64
 79  LM Rating                    18539 non-null  int64
 80  CM Rating                    18539 non-null  int64
 81  RM Rating                    18539 non-null  int64
 82  LWB Rating                   18539 non-null  int64
 83  CDM Rating                   18539 non-null  int64
 84  RWB Rating                   18539 non-null  int64
 85  LB Rating                    18539 non-null  int64
 86  CB Rating                    18539 non-null  int64
 87  RB Rating                    18539 non-null  int64
 88  GK Rating                    18539 non-null  int64
dtypes: int64(71), object(18)
memory usage: 12.6+ MB

In [51]:
data.loc[data["Nationality"] == "India"]["Known As"]

10730         S. Chhetri
11489         S. Jhingan
12005    G. Singh Sandhu
13254           A. Thapa
13765     S. Abdul Samad
              ...
18521           V. Yadav
18522           E. Singh
18530             S. Bag
18532           H. Singh
18538           N. Rabha
Name: Known As, Length: 219, dtype: object

In [66]:
data.loc[data["Nationality"] =="India"]["Known As"]["Overall"]

KeyError: 'Overall'